.menu-sidebar-container{  
  .close-icon{
    margin: 10px;
  }
  .menu-sidebar{
    width: 20rem;
    padding: 2rem 2rem 2rem 2rem;
  
    .nav{
      .nav-item{
        margin-bottom: 1rem;
      }
    }
  }
}